.return-page-main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.return-page-content {
    width: 1200px;
    align-self: center;
    max-width: 80%;
    margin-bottom: 100px;
}
.return-page-h1-header {
    font-size: 40px;
    margin: 60px 0px;
}
.return-header-text {
    font-size: 30px;
}
.return-text {
    display: inline-block;
    font-size: 19px;
    margin-bottom: 40px;
}
